body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.container-md {
    background-color: #333; /* Đổi màu nền của header */
    padding: 10px 0; /* Thêm padding cho header */
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.text-right {
    text-align: right; /* Căn phải cho phần thông tin liên hệ */
}

.text-white {
    color: #fff; /* Màu chữ trắng */
}

.navbar {
    padding: 0 15px; /* Thêm padding cho navbar */
}

.navbar-brand img {
    max-height: 40px; /* Điều chỉnh chiều cao tối đa cho logo */
}

.navbar-toggler {
    border: none; /* Loại bỏ đường viền nút toggle */
}

.navbar-nav {
    list-style: none; /* Loại bỏ chấm đầu dòng của menu */
}

.nav-item {
    display: inline-block; /* Hiển thị menu theo chiều ngang */
    margin-right: 15px; /* Khoảng cách giữa các menu item */
}

.nav-link {
    color: #fff; /* Màu chữ trắng */
    text-decoration: none; /* Loại bỏ gạch chân dưới chữ */
    font-weight: bold; /* Độ đậm cho chữ */
    transition: color 0.3s ease; /* Hiệu ứng chuyển đổi màu chữ */
}

.nav-link:hover {
    color: #ffd700; /* Màu chữ khi hover */
}


.order-detail-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.payment-container {
    margin-top: 20px;
}

.payment-container p {
    margin: 10px 0;
    font-size: 16px;
}

#total_amount {
    font-weight: bold;
    color: #e44d26;
}

/* Add more styles as needed */

/* Optional: Style the body, header, and other elements if needed */
/* header, footer, etc. {
    Add your styles here
} */
