/* Add this CSS to your existing styles or create a new CSS file */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
}

.container-md {
    background-color: #333;
    padding: 10px 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.container-md p {
    margin: 0;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.promotions-container {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #444;
    cursor: pointer;
}

.promotions-container h3 {
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.promotions-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.promotions-card:hover {
    transform: scale(1.05);
}

.promotions-card img {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #ddd;
    transition: opacity 0.3s;
}

.promotions-card:hover img {
    opacity: 0;
}

.promotion-title, .promotion-description {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}
.promotions-card:hover .promotion-title,
.promotions-card:hover .promotion-description {
    opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container-md {
        padding: 10px;
    }

    .navbar-toggler-icon {
        color: #fff;
    }
}

@media (max-width: 576px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
